<launch>

    <!-- Launch ROS Package Template Node -->
    <rosparam file="$(find hero_chassis_controller)/config/controllers.yaml" command="load"/>
    <include file="$(find rm_description)/launch/hero.launch">
        <arg name="load_chassis" value="true"/>
        <arg name="roller_type" value="realistic"/>
    </include>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="
        controller/hero_chassis_controller
        controller/joint_state_controller
  "/>

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hero_chassis_controller)/config/hero.rviz"/>

</launch>
